/* ==UserStyle==
@name           BetterDogeHouse
@version        1.1.3
@description    Tweaks for dogehouse.tv+
@preprocessor   stylus
 -- AUTHOR STUFF --
@namespace      Pukima
@author         Pukima (https://pukimaa.github.io)
@homepageURL    https://github.com/Pukimaa/BetterDogeHouse

 -- VARS --
@var text people-text "People Text" People

@var text online-text "Online Text" online

@var checkbox LightMode "Light Mode" 0

@var checkbox leavebtn "Red Leave Button" 0

==/UserStyle== */
/* 1.1.3
- prettified css
- removed Custom Emoji cuz it did not worked
*/
@-moz-document domain("dogehouse.tv") {
    :root {
        --people-text: \'people-text\';
        --online-text: \'online-text\';
        --emoji-path: \'emoji-path\';
    }
    #main > div:nth-child(1) > div.pb-5.w-full.flex.flex-col.flex-1.overflow-y-auto > h4 {
        visibility: hidden;
    }
    #main > div:nth-child(1) > div.pb-5.w-full.flex.flex-col.flex-1.overflow-y-auto > h4:after {
        content: var(--people-text);
        visibility: visible;
        display: block;
    }
    #main > div:nth-child(1) > div.pb-5.w-full.flex.flex-col.flex-1.overflow-y-auto > h6 {
        visibility: hidden;
    }
    #main > div:nth-child(1) > div.pb-5.w-full.flex.flex-col.flex-1.overflow-y-auto > h6:after {
        content: var(--online-text);
        visibility: visible;
        display: block;
    }

    .rounded-full {
        border-radius: 10px;
    }

    /* Inverts the color on dogehouse if you mute/unmute yourself */
    #main > div.flex.flex-col.flex-1.w-full > div.sticky.bottom-0.pb-7.bg-primary-900 > div > div > div > button.flex.bg-primary-800.transition.duration-200.ease-in-out.h-6.w-6.cursor-pointer.justify-center.items-center.rounded.text-primary-100.mx-1.w-11.h-6\.5,
    #main > div.flex.flex-col.flex-1.w-full > div.sticky.bottom-0.pb-7.bg-primary-900 > div > div > div > button.flex.bg-primary-800.transition.duration-200.ease-in-out.hover\:bg-primary-600.h-6.w-6.cursor-pointer.justify-center.items-center.rounded.text-primary-100.mx-1.w-11.h-6\.5,
    #main > div:nth-child(3) > div.flex.flex-1.flex-col.overflow-y-auto > div:nth-child(1) > div > div.flex.flex-row > div > button:nth-child(1),
    #main > div:nth-child(3) > div.flex.flex-1.flex-col.overflow-y-auto > div:nth-child(1) > div > div.flex.flex-row > div > button:nth-child(1) > div > div > button {
        background: var(--color-accent);
    }
    #main > div.flex.flex-col.flex-1.w-full > div.sticky.bottom-0.pb-7.bg-primary-900 > div > div > div > button.flex.bg-primary-800.transition.duration-200.ease-in-out.h-6.w-6.cursor-pointer.justify-center.items-center.rounded.text-primary-100.mx-1.w-11.h-6\.5:hover,
    #main > div.flex.flex-col.flex-1.w-full > div.sticky.bottom-0.pb-7.bg-primary-900 > div > div > div > button.flex.bg-primary-800.transition.duration-200.ease-in-out.hover\:bg-primary-600.h-6.w-6.cursor-pointer.justify-center.items-center.rounded.text-primary-100.mx-1.w-11.h-6\.5:hover,
    #main > div:nth-child(3) > div.flex.flex-1.flex-col.overflow-y-auto > div:nth-child(1) > div > div.flex.flex-row > div > button:nth-child(1):hover {
        background: var(--color-accent-hover);
    }
    #main > div.flex.flex-col.flex-1.w-full > div.sticky.bottom-0.pb-7.bg-primary-900 > div > div > div > button.flex.bg-primary-800.transition.duration-200.ease-in-out.h-6.w-6.cursor-pointer.justify-center.items-center.rounded.mx-1.w-11.h-6\.5.bg-accent.hover\:bg-accent-hover.text-button {
        background: var(--color-primary-800);
    }
    #main > div:nth-child(3) > div.flex.flex-1.flex-col.overflow-y-auto > div:nth-child(1) > div > div.flex.flex-row > div > button.flex.bg-primary-700.transition.duration-200.ease-in-out.hover\:bg-primary-600.h-6.w-6.cursor-pointer.justify-center.items-center.rounded.bg-accent.hover\:bg-accent-hover.text-button {
        background: var(--color-primary-700);
    }
    #main > div.flex.flex-col.flex-1.w-full > div.sticky.bottom-0.pb-7.bg-primary-900 > div > div > div > button.flex.bg-primary-800.transition.duration-200.ease-in-out.h-6.w-6.cursor-pointer.justify-center.items-center.rounded.mx-1.w-11.h-6\.5.bg-accent.hover\:bg-accent-hover.text-button:hover,
    #main > div:nth-child(3) > div.flex.flex-1.flex-col.overflow-y-auto > div:nth-child(1) > div > div.flex.flex-row > div > button.flex.bg-primary-700.transition.duration-200.ease-in-out.hover\:bg-primary-600.h-6.w-6.cursor-pointer.justify-center.items-center.rounded.bg-accent.hover\:bg-accent-hover.text-button:hover {
        background: var(--color-primary-600);
    }
    /* END ----- Inverts the color on dogehouse if yo, --color-button-textu mute/unmute yourself */

    if LightMode {
        :root {
            --color-primary-900: #ffffff;
            --color-primary-800: #f6f6f6;
            --color-primary-700: #ededed;
            --color-primary-600: #e8e8e8;
            --color-primary-300: #414141;
            --color-primary-200: #202020;
            --color-primary-100: #202020;
            --color-button-text: #202020;
        }
    }

    if leavebtn {
        #main > div.flex.flex-col.flex-1.w-full > div.sticky.bottom-0.pb-7.bg-primary-900 > div > div > button,
        #main > div:nth-child(3) > div.flex.flex-1.flex-col.overflow-y-auto > div:nth-child(1) > div > div.flex.flex-row > button {
            background: var(--color-accent);
        }
        #main > div.flex.flex-col.flex-1.w-full > div.sticky.bottom-0.pb-7.bg-primary-900 > div > div > button:hover,
        #main > div:nth-child(3) > div.flex.flex-1.flex-col.overflow-y-auto > div:nth-child(1) > div > div.flex.flex-row > button:hover {
            background: var(--color-accent-hover);
        }
    }
}
